{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
      "browser": true,
      "node": true,
      "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/media-has-caption": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-for": "off",
    "max-len": 0,
    "no-plusplus": [2, {"allowForLoopAfterthoughts": true}],
    "react/forbid-prop-types": 0,
    "react/prop-types": [2, {"skipUndeclared": false}],
    "semi": [2, "never"]
  }
}
