*, *:before, *:after{
  box-sizing: border-box;
}

body{
  font-size: 16px;
  padding-top: 50px;
  background-color: #333;
}


.page-title{
  font-size: 2rem;
  color: #fefefe;
  letter-spacing: 1px;
}

.medialist{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.movielist__item{
  position: relative;
  display: inline-block;
  width: 45%;
  margin: 1%;
  padding-bottom: 60%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
}

.movielist__item__meta{
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  color: #FFF;
  background-color: rgba(0,0,0,.5);
  transform: translate(0, 100%);
  transition: transform 0.1s ease-in-out;
}

.movielist__item__meta > a{
  color: #FFF;
}

.movielist__item:hover .movielist__item__meta{
  transform: translate(0, 0);
}

.navbar-form.is-fluid .form-control{
  width: 100%;
}

.navbar-brand-image{
  float: left;
  margin-right: 5px;
  margin-top: -10px;
}

.navbar-inverse .navbar-brand{
  color: #fff;
}


.spinner{
  display: block;
  margin: 30px auto;
}

.spinner-animated{
  animation: loop 1s infinite;
  animation-timing-function: linear;
}

@keyframes loop {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.media-wrapper{
  background-color: #000;
  width: 100%;
  height: auto;
}

.media-frame{
  width: 100%;
  height: calc(100vw * 0.6);
  border: 0;
  display: block;
  margin: 0 auto;
}

.search-bar{
  box-shadow: none;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .search-bar{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .movielist__item {
    width: 185px;
    height: 240px;
    padding-bottom: 0;
  }
}


@media (min-width: 992px) {
  .media-frame{
    width: 854px;
    height: 480px;
  }
}