body{
  padding-top: 50px;
}

iframe{
  border: 0;
  display: block;
  margin: 0 auto;
}

.movielist__item{
  display: inline-block;
  float: left;
  width: 185px;
  height: 240px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 2px;
  margin-bottom: 20px;
}

.movielist__item__meta{
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  color: #FFF;
  background-color: rgba(0,0,0,.5);
  transform: translate(0, 100%);
  transition: transform 0.1s ease-in-out;
}

.movielist__item__meta > a{
  color: #FFF;
}

.movielist__item:hover .movielist__item__meta{
  transform: translate(0, 0);
}

.navbar-form.is-fluid .form-control{
  width: 100%;
}

.navbar-brand-image{
  float: left;
  margin-right: 5px;
  margin-top: -10px;
}

.navbar-inverse .navbar-brand{
  color: #fff;
}


.spinner{
  display: block;
  margin: 30px auto;
}

.spinner-animated{
  animation: loop 1s infinite;
  animation-timing-function: linear;
}

@keyframes loop {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.media-wrapper{
  background-color: #000;
  width: 100%;
  height: auto;
}
