# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10

    working_directory: ~/repo

    steps:
      - build

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  test:
    steps:
      - test

      - run: yarn test

  deploy_code:
    steps:
      - deploy_code

      - run: yarn install flightplan
      - run: ./node_modules/flightplan/bin/fly.js deploy

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
      - deploy_code