.player-area{
  width: 100vw;
  height: calc(100vh - 50px);
}

.player-area .video-js{
  width: 100% !important;
  height: 100% !important;
}

.video-js .vjs-big-play-button{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 5px solid #fefefe;
  transition: transform .2s ease-in;
  background-color: rgba(0,0,0,.3);
},

.video-js:hover .vjs-big-play-button{
  background-color: rgba(0,0,0,.3);
}

.video-js .vjs-big-play-button:hover,
.video-js .vjs-big-play-button:focus{
  background:none repeat scroll 0 0 rgba(0,0,0,.5)
}

.video-js .vjs-big-play-button .vjs-icon-placeholder{
  position: relative;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
  position: relative;
  font-size: 100px;
  line-height: 110px;
  color: #e50914;
}

@media (min-width: 992px) {

}
