*,
*:before, *:after{
  box-sizing: border-box;
}

body{
  font-size: 16px;
  padding-top: 50px;
  background-color: #1a1a1a;
  color: #fefefe;
}


.page-title{
  font-size: 2rem;
  color: #fefefe;
  letter-spacing: 1px;
}

.clearSearch{
  font-size: .8em;
  margin-left: 5px;
  cursor: pointer;
}


.showlist{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
}

.show-item__link{
  width: 30%;
  margin-top: 10px;
  margin: 5px;
}

.show-item{
  position: relative;
  height: 100%;
}

.show-item__image img{
  max-width: 100%;
}

.show-item__image img:before {
  content: " ";
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
}

.show-item__image img:after {
  content: "\f127" " Broken Image of " attr(alt);
  display: flex;
  align-items: center;

  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
}


.show-item__title{
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  color: #FFF;
  background-color: rgba(0,0,0,.5);
  transform: translate(0, 100%);
  transition: transform 0.1s ease-in-out;
}

.showlist__item__meta > a{
  color: #FFF;
}

.serielist__item:hover .showlist__item__meta{
  transform: translate(0, 0);
}

.navbar-form.is-fluid .form-control{
  width: 100%;
}

.navbar-brand-image{
  float: left;
  margin-right: 5px;
  margin-top: -10px;
}

.navbar-inverse .navbar-brand{
  color: #fff;
}


.spinner{
  display: block;
  margin: 30px auto;
}

.spinner-animated{
  animation: loop 1s infinite;
  animation-timing-function: linear;
}

@keyframes loop {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.media-wrapper{
  background-color: #000;
  width: 100%;
  height: auto;
}

.media-frame{
  width: 100%;
  height: calc(100vw * 0.6);
  border: 0;
  display: block;
  margin: 0 auto;
}

/**
 * Search Bar Block Element Modifier
 */
.searchbar{
  box-shadow: none;
  border: 0;
  margin-top: 8px;
  margin-bottom: 0;
}

.searchbar-wrapper{
  height: 50px;
  padding: 10px;
  overflow: hidden;
}

.searchbar__box{
  float: right;
  max-width: 100%;
}

.searchbar__icon{
  float: left;
  display: inline-block;
}

.searchbox__form{
  position: relative;
}

.searchbox__icon__form{
  position: absolute;
  top: 2px;
}

.searchbar__input{
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 2px;
  padding-left: 25px;
  max-width: 100%;
}

.searchbar__label{
  color: #fff;
  display: inline-block;
  font-weight: 200;
  margin-left: 5px;
}

/**
 * Serie View
 */
.show-featured{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -20px;
}

.show-featured__image{
  width: 100vw;
  order: 0;
}

.show-featured__image img{
  max-width: 100%;
}

.show-featured__data{
  order: 1;
  padding: 10px;
}

.show-featured__title{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #e3e3e3;
  line-height: 2rem;
}

.show-feature__metadata{
  display: block;
  margin: 10px 0;
}

.show-feature__metadata__item{
  display: inline-block;
  color: #8e8e8d;
  font-size: 1.1rem;
  margin-right: 10px;
}


.show-featured__synopsis{
  color: #8e8e8d;
  font-size: 1.3rem;
  color: #e3e3e3;
  line-height: 2rem;
  text-align: justify;
}

/**
 * EPISODES LIST
 */
.episodes-list{
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
 align-content: flex-start;
}

.episode{
  /*flex: 1;*/
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

.episode a {
 color: #FFF;
 text-decoration: none;
}

.episode__bg{
 padding-bottom: 50%;
 background-size: cover;
 position: relative;
 margin-bottom: 5px;
}

.episode__number{
 position: absolute;
 font-weight: lighter;
 bottom: 0;
 padding-left: 5px;
 text-shadow: #000 1px 1px 1px;
 font-size: 2em;
}

.episode__meta{
 font-size: 0.9em;
}

@media (min-width: 768px) {
  .searchbar{
    margin-top: 8px;
    margin-bottom: 8px;
  }


  .showlist{
    justify-content: flex-start;
    margin: -5px;
    margin-bottom: 40px;
  }


  .show-item__link{
    width: 150px;
    height: 225px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .show-item__image img{
    width: 150px;
    height: 225px;
  }

  .serielist__item--episode{
    padding-bottom: 0;
    max-width: none;
    flex: 0 0 20%;
    height: 150px;
  }

  /**
   * Serie Featured
   */
  .show-featured{
    position: relative;
    padding: 20px;
    padding-left: 60px;
    min-height: 60vh;
    background-color: #111;
  }

  .show-featured__data{
    width: 50vw;
    z-index: 2;
  }

  .show-featured__title{
    font-size: 3em;
    line-height: 1em;
    font-weight: bold;
  }

  .show-feature__metadata__item{
    font-size: 1em;
    letter-spacing: 1px;
    position: relative;
    z-index: 10;
    color: #666;
  }

  .show-feature__metadata__item:after{
    font-size: 1em;
    content: ' / ';
  }

  .show-feature__metadata__item:last-child:after{
    content: ''
  }

  .show-featured__synopsis p{
    max-width: 35vw;
    text-align: left;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 1.2em;
    color: #999;
  }

  .show-featured__image{
    width: 65vw;
    overflow: hidden;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .show-featured__image:before{
    content: '';
    position: absolute;
    background: linear-gradient(to right,
      #111 0%,
      rgba(17,17,17, .9) 10%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 100%;
    width: 100%;
  }

  .show-featured__image img{
    width: 100%;
    z-index: -1;
  }

  .serie-featured-player-icon{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 5px solid #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.3);
    transition: transform .2s ease-in;
  }

  .serie-featured-player-icon:before{
    content: '';
    height: 40px;
    width: 40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*transition: border-color .2s ease-in;*/
  }

  .serie-featured-player-icon:hover{
    transform: scale(1.1) translate(-45%, -45%);
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
  }

  .serie-featured-player-icon:hover:before {
    border-color: transparent transparent transparent #e50914;
  }

  .episode{
    flex: 0 0 20%;
    padding: 5px;
    margin-bottom: 20px;
  }
}


@media (min-width: 992px) {

}

.select{
  border: 1px solid #fefefe;
  padding: 5px;
  background-color: transparent;
  min-width: 120px;
}

.select option{
  background-color: #000;
}

/**
 * VIDEO JS
 */
.player-area{
  width: 100vw;
  height: calc(100vh - 50px);
}

.player-area .video-js{
  width: 100% !important;
  height: 100% !important;
}

.video-js .vjs-big-play-button{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 5px solid #fefefe;
  transition: transform .2s ease-in;
  background-color: rgba(0,0,0,.3);
},

.video-js:hover .vjs-big-play-button{
  background-color: rgba(0,0,0,.3);
}

.video-js .vjs-big-play-button:hover,
.video-js .vjs-big-play-button:focus{
  background:none repeat scroll 0 0 rgba(0,0,0,.5)
}

.video-js .vjs-big-play-button .vjs-icon-placeholder{
  position: relative;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
  position: relative;
  font-size: 100px;
  line-height: 110px;
  color: #e50914;
}
